/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Menu ****************/

/* BURGERMENU */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  /* margin: 15px; */
  background-color: white;
  box-shadow: 0 10px 10px rgba(241, 150, 32, 0.337);
}

footer {
  background-color: lightpink;
  padding: 25px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.tekst_footer {
  color: #d6c6a6;
}
.logo img {
  width: 150px;
  height: 100px;
  margin-left: 35px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 40px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 20px;
  /* margin: 5px; */
  margin-right: 15px;
  margin-left: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  background-color: #ffc800;

  border-radius: 10px;
  border: 3px solid rgb(241, 161, 13);
}

.menu a:hover {
  color: rgb(243, 179, 60);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/* GENERELT STYLING */
body {
  max-width: 100%;
  margin: 0 auto;
  padding: 13px;
}

/* STYLING AF "ASSETS" SIDE */

h1 {
  margin-top: 15px;
}
h2,
h3 {
  margin-bottom: 20px; /* Læg til afstand under overskrifterne */
}

h2 {
  margin-top: 20px; /* Hvis du vil have ekstra luft før h2-overskrifterne */
  text-decoration: underline;
}
article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; /* Afstand mellem billederne */
  margin-bottom: 40px; /* Afstand mellem sektioner */
}

/* SPIL */
.spil_elementer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
}
.ui_elementer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
}

#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/start_skaerm.svg);
  background-size: cover;
  display: none;
}

#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/game_over.svg);
  background-size: cover;
  display: none;
}
#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/level_complete.svg);
  background-size: cover;
  display: none;
}
#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/game_background.svg);
  background-size: cover;
}
#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #game_foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-size: cover;
} */

/* SPIL ELEMENTER */

/* GODT ELEMENT */
#god_ost_container {
  position: absolute;
  width: 10%;
  aspect-ratio: 255/175;
  /* top: 
  left: */
}
#god_ost_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../assets/god_ost.svg);
  background-size: cover;
}

/* ONDT ELEMENT */
#mug_ost_container {
  position: absolute;
  width: 10%;
  aspect-ratio: 90/62;
  /* top: 56%; */
  /* left: 68%; */
}
#mug_ost_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../assets/mug_ost.svg);
  background-size: cover;
}

.delay0 {
  animation-delay: 0.5s;
}

.delay1 {
  animation-delay: 0s;
}

.delay2 {
  animation-delay: 0.2s;
}
.delay3 {
  animation-delay: 1s;
}
.delay4 {
  animation-delay: 2s;
}
.delay5 {
  animation-delay: 3s;
}

.pos1 {
  left: 20%;
}
.pos2 {
  left: 30%;
}
.pos3 {
  left: 40%;
}
.pos4 {
  left: 50%;
}
.pos5 {
  left: 60%;
}
.pos6 {
  left: 70%;
}

/* FALD ANIMATION */
.fald {
  animation-name: fald_kf;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes fald_kf {
  100% {
    translate: 0 1500%;
  }
}

/* FORSVIND ANIMATION */
.forsvind_good {
  animation-name: forsvind_good_kf;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes forsvind_good_kf {
  100% {
    rotate: 600deg;
    scale: 0;
  }
}

.forsvind_bad {
  animation-name: forsvind_bad_kf;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes forsvind_bad_kf {
  20% {
    scale: 1.5;
  }
  30% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}

#score_board {
  font-size: 3cqw;
  color: white;
  transform: rotate(-10deg);
  position: absolute;
  top: 9.5%;
  left: 15%;
  background-size: cover;
}
#life_board {
  font-size: 3cqw;
  color: white;
  transform: rotate(-10deg);
  position: absolute;
  top: 16.5%;
  left: 15.5%;
  background-size: cover;
}
/* UI */
#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.frys {
  animation-play-state: paused;
}

.forside {
  background-image: url(../assets/forside.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15%;
}

/* UR */

#ur {
  position: relative;
  margin: 5%;
  width: 8%;
  /* top: 2%; */
  left: 73%;
  aspect-ratio: 1/1;
}

#urskive {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/urskive.svg);
  background-size: cover;
}

#minut_viser,
#time_viser {
  position: absolute;
  top: 5%;
  left: 49%;
  width: 3%;
  height: 45%;
  border-radius: 50%;
  transform-origin: bottom center;
  background-color: black;
}

#time_viser {
  top: 20%;
  height: 30%;
  background-color: red;
}

.minut_animation {
  animation-name: min_kf;
  animation-duration: 30s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes min_kf {
  to {
    transform: rotate(360deg);
  }
}

.time_animation {
  animation-name: time_kf;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes time_kf {
  to {
    transform: rotate(30deg);
    background-color: red;
  }
}

/* #time_board { */
/* width: 7%;
  position: absolute;
  aspect-ratio: 158/165;
  background-image: url(../assets/ur.svg);
  top: 10%;
  left: 79%;
  background-size: cover; */
